# Joining Weather Events & Motor Vehicle Claims

### Intro/ Questions

### Libraries and importng csvs

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.1     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
# install.packages("magrittr")
# install.packages("purrr")
library(magrittr) # better handling of pipes
library(purrr)

Attaching package: ‘magrittr’


The following object is masked from ‘package:purrr’:

    set_names


The following object is masked from ‘package:tidyr’:

    extract

In [5]:
age <- "age.csv" %>%
              read_csv() 
ethnicity <- "ethnicity.csv" %>%
              read_csv() 
gender <- "gender.csv" %>%
              read_csv()  
month <- "month.csv" %>%
              read_csv() 
region <- "region.csv" %>%
              read_csv() 
road <- "road.csv" %>%
              read_csv() 
weather <- "weather.csv" %>%
              read_csv()

Parsed with column specification:
cols(
  age = col_character(),
  year = col_double(),
  active_claims = col_double(),
  New_claims = col_double()
)

Parsed with column specification:
cols(
  ethnicity = col_character(),
  year = col_double(),
  active_claims = col_double(),
  New_claims = col_double()
)

Parsed with column specification:
cols(
  gender = col_character(),
  year = col_double(),
  active_claims = col_double(),
  New_claims = col_double()
)

Parsed with column specification:
cols(
  month = col_character(),
  year = col_double(),
  active_claims = col_double(),
  New_claims = col_double()
)

Parsed with column specification:
cols(
  region = col_character(),
  year = col_double(),
  active_claims = col_double(),
  New_claims = col_double()
)

Parsed with column specification:
cols(
  road_factor = col_character(),
  year = col_double(),
  active_claims = col_double(),
  New_claims = col_double()
)

Parsed with column specification:
cols(
  Year = col_double(),
  Month = col_character(),
  `Affected Area` = col_character(),
  `Weather Event` = col_character(),
  Description = col_character()
)

What region has higest amount of new claims for given year and whats corresponding weather event

In [42]:
region %>%
    group_by(region)%>%
    filter(min_rank(New_claims) == 1L)%>%
    arrange(desc(New_claims) %>%
    select(-c(active_claims))
region

ERROR: Error in parse(text = x, srcfile = src): <text>:6:1: unexpected symbol
5:     select(-c(active_claims))
6: region
   ^

In [13]:
region

    region        year active_claims New_claims
1   Northland     2011  2168          1411
2   Northland     2012  2296          1488
3   Northland     2013  2301          1472
4   Northland     2014  2228          1474
5   Northland     2015  2293          1624
6   Northland     2016  2504          1757
7   Northland     2017  2636          1898
8   Auckland      2011 13615         10461
9   Auckland      2012 13612         10465
10  Auckland      2013 14141         10767
11  Auckland      2014 13694         10708
12  Auckland      2015 14678         12277
13  Auckland      2016 15674         12926
14  Auckland      2017 15955         12787
15  Waikato       2011  4954          3254
16  Waikato       2012  5021          3281
17  Waikato       2013  5149          3434
18  Waikato       2014  5024          3480
19  Waikato       2015  5093          3852
20  Waikato       2016  5336          4162
21  Waikato       2017  5695          4415
22  Bay of Plenty 2011  2769          1931
23  Bay of Plenty 2012  2775          1847
24  Bay of Plenty 2013  2788          1905
25  Bay of Plenty 2014  2613          1867
26  Bay of Plenty 2015  2810          2284
27  Bay of Plenty 2016  3019          2476
28  Bay of Plenty 2017  3053          2404
29  Gisborne      2011   472           312
30  Gisborne      2012   482           331
⋮   ⋮             ⋮    ⋮             ⋮
97  West Coast    2016  435           339
98  West Coast    2017  462           374
99  Otago         2011 2128          1479
100 Otago         2012 2005          1442
101 Otago         2013 2074          1450
102 Otago         2014 2064          1516
103 Otago         2015 2171          1672
104 Otago         2016 2214          1806
105 Otago         2017 2404          1955
106 Southland     2011  945           677
107 Southland     2012  931           627
108 Southland     2013  901           618
109 Southland     2014  859           692
110 Southland     2015  891           775
111 Southland     2016  882           749
112 Southland     2017 1036           849
113 Other         2011  417           242
114 Other         2012  416           278
115 Other         2013  456           277
116 Other         2014  518           327
117 Other         2015  547           370
118 Other         2016  652           432
119 Other         2017  618           344
120 Unknown       2011 3628            NA
121 Unknown       2012 3413            NA
122 Unknown       2013 3430            NA
123 Unknown       2014 3409            NA
124 Unknown       2015 3263            NA
125 Unknown       2016 3211            NA
126 Unknown       2017 3050            NA